<!DOCTYPE html>
<html>
<head>
	<title> GPS pracenje vozila </title>
	<link rel="stylesheet" type="text/css" href="../css/Main.css">
	<link rel="stylesheet" type="text/css" href="../css/FormForgotPassword.css">
	<meta charset= "utf-8">
	<meta name= "viewport" content= "width= device-width, initial-scale=1.0">
	<script src="../js/lib/jquery-1.11.1.min.js"></script>
</head>

<body>
		
	<div id = "container">
		<header>
			<figure>
				<img src="../assets/heading.png" alt="GPS">
			</figure>
		</header>
					
		<div id="content">
			<div id="forgot_your_password">
				<h2>Forgot your password?</h2>
				<p id="text">Please enter the e mail address registered on your account.</p></br></br>
				<p><form id="forms" name = "Forms" action= "" method ="post"></p>
				<p><input class="input" type="text" name="E-mail" placeholder= "E-mail"></p>
				<p><input id="Reset_password" type="submit" value="Reset password"> <input id="CANCEL" type="reset" value="Cancel"></p>
				</form>
			</div> </br> </br><br/><!-- forgot_your_password -->
		</div> <!-- content --> <br/><br/><br/><br/>
	</div> <!-- container -->



</body>


</html>
