<!DOCTYPE html>
<html>
<head>
	<title> GPS pracenje vozila </title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/sign_in.css">
	<meta charset= "utf-8">
	<meta name= "viewport" content= "width= device-width, initial-scale=1.0">
	<script src="../js/lib/jquery-1.11.1.min.js"></script>
</head>

<body>
			
	<div id = "container">
		<header>
			<figure>
				<img src="../assets/heading.png" alt="GPS">
			</figure>
		</header>
					
		<div id="content">
			<div id="sign_in_form">
				<h2>Sign in to GPS </h2>
				<p><form id="forms" name = "Forms" action= "" method ="post"></p>
				<p><input class="input" type="text"  id="username"name="Username" placeholder= "Username"></p>
				<p><input class="input" type="password" id="password" title="Password" size="10" placeholder= "Password"/> </p>
				<p><input id="get_started" type="submit" value="GET STARTED!"> <input id="CANCEL" type="reset" value="CANCEL"></p>
				</form>
				<label>
				<p><input type="checkbox" name="remember_me" id="remember_me">Remember me on this computer</p>
				</label>
				<p id="forgot_password"><a href="FormForgotPassword.html">Forgot Password?</a></p>
				<p id= "Gplus">Or sign up with: </p> 
				<a href="#"><img id="Gplus_picture" src="../assets/Gplus.png"></a> <br/>
			</div> <!-- sign_in_form -->
		</div> <!-- content --><br/><br/>
			
		
	</div> <!-- container -->



</body>


</html>
